/*GENERAL*/

body {

    background-color: #eee;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;


}

/*TYPOGRAPHY*/

h1 {

    font-weight: bold;
    text-align: center;
    font-style: italic;

}


h2 {
    font-weight: bold;
    font-size: 36px;
}



p {

    text-align: center;
    font-size: 20px;
    margin: 8px;

}




/*HEADERS*/

.logo {
    background-image: linear-gradient(to right bottom, #000428, #004e92);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-family: 'Kalam', cursive;
    padding-right: 10px;
    width: 300px;
}

.menu {
    display: flex;
}

.headertext {

    text-align: center;
    background-image: linear-gradient(to right bottom, #00c6ff, #0072ff);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    margin-top: 50px;
    font-style: italic;

}


.u-center {

    text-align: center;
}



/*MENU CONTAINER*/

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 30px auto;
}


.resp-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    margin: 30px auto;
}


@media only screen and (max-width: 800px) {

    .menu-container {

        display: none
    }
}

@media only screen and (min-width: 800px) {

    .resp-container {

        display: none
    }
}


/*MENU ICONS*/

.icon {
    height: 50px;
    width: 50px;
    color: #000428;

    transition: all .2s ease-in-out;

}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* opacity: 1;*/
    color: #000428;
    text-decoration: none;
    padding: 0 10px;
}



.menu-item:hover {

    border-bottom: 4px solid #004e92;
    margin-bottom: -4x;
    color: #004e92;
    
}



/*HAMBURGER*/

wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar div {
    height: 8px;
    width: 60px;
    background-color: darkgrey;
    position: absolute;
    transition: all 0.5s ease;
}

.navbar .first {
    top: 25px;
    left: 20px;
}

.navbar .second {
    top: 45px;
    left: 20px;
}

.navbar .third {
    top: 65px;
    left: 20px;
}

.navbar:hover .first {
    transform: translateY(20px) rotate(45deg);
    transition: all 0.5s ease;
}

.navbar:hover .second {
    opacity: 0;
    transition: all 0.2s ease;

}

.navbar:hover .third {
    transform: translateY(-20px) rotate(-45deg);
    transition: all 0.5s ease;
}

.navbar:hover {
    border-radius: 50%;
    transition: all 0.3s ease;
}




/*FIRST CONTAINER*/

.first-container {
    display: grid;
    height: 100vh;
    justify-content: center;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    background-color: #eee;
    margin: 0 auto;

}


.first-container > div {

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);

}


.item {
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}


.item1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    background-image: url(images/ronda_v1.JPG);
}


.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(images/casares_v2.JPG);
}

.item3 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(images/mijas_v1.JPG);
}

.item4 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(images/castellar_v1.JPG);

}


.item5 {

    background-image: url(images/gaucin_6.JPG);

}

.item6 {

    grid-row-start: 3;
    background-image: url(images/medina_9_1.JPG);

}



/*SECOND CONTAINER AND CARD SIDES*/

.routes-container {

    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    background-color: #fff;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}


@media only screen and (max-width: 850px) {

    .routes-container {

        grid-template-columns: 1fr;
        width: 75vw;
        grid-row-gap: 35px;

    }
}


.routes {


    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
    height: 500px;

}

.routes-side {


    height: 500px;
    transition: all 1s;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 1.2s ease;
    border-radius: 3px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}


.front {

    transition: all 1s;

}


.routes:hover .front {

    transform: rotateY(-180deg);

}



/*FRONT - PICTURES*/

.card-picture {

    height: 200px;
    background-blend-mode: color;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}


.card-picture-1 {

    background-image: linear-gradient(to right bottom, #11998e, #38ef7d), url(images/mountain_11.JPG);

}


.card-picture-2 {

    background-image: linear-gradient(to right bottom, #1c92d2, #f2fcfe), url(images/standard-2.jpg);

}


.card-picture-3 {

    background-image: linear-gradient(to right bottom, #FFB75E, #ED8F03), url(images/mixed-3.jpg);

}


/*FRONT - HEADING*/

.card-heading {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    top: 130px;
    right: 35px;
    text-align: right;
    color: white;
    width: 50%;
    text-align: center;
    padding: 5px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    z-index: 1;
}


.card-heading-1 {

    background-image: linear-gradient(to right bottom, rgba(90, 63, 55, 0.85), rgba(44, 119, 68, 0.85));

}


.card-heading-2 {

    background-image: linear-gradient(to right bottom, rgba(28, 146, 210, 0.85), rgba(242, 252, 254, 0.85));

}

.card-heading-3 {

    background-image: linear-gradient(to right bottom, rgba(255, 183, 94, 0.85), rgba(242, 252, 254, 0.85));

}


/*FRONT - CARD DETAILS*/

.card-details {
    width: 90%;
    padding: 20px 0;
}

@media only screen and (max-width: 1000px) {

    .card-details {
        font-size: 17px;
    }
}

.card-details ul li {

    list-style: none;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;

}


.card-details ul li:not(:last-child) {

    border-bottom: 1px solid #D3D3D3
}


/*BACK - PICTURES*/

.back {

    transition: all 1s;
    transform: rotateY(180deg);

}

.routes:hover .back {

    transform: rotateY(0deg);

}

.back-1 {

    background-image: linear-gradient(to right bottom, #11998e, #38ef7d);

}


.back-2 {

    background-image: linear-gradient(to right bottom, #1c92d2, #f2fcfe);

}



.back-3 {

    background-image: linear-gradient(to right bottom, #FFB75E, #ED8F03);

}



/*BACK - CTA AND PRICE BOX*/

.cta {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.price-box {

    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.price-only {

    font-size: 14px;
    text-transform: uppercase;
}

.price-value {

    font-size: 60px;
    font-weight: 100;
}


/*BUTTONS*/

.button-gen:link,
.button-gen:visited {


    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    padding: 10px 30px;
    border-radius: 100px;
    transition: all 0.2s;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    color: grey;
    position: relative;
    z-index: 0;
    font-size: 16px;
    text-align: center;

}



.button-gen:hover {


    transform: translateY(-3px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);


}


.button-gen:active {


    transform: translateY(-1px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);


}


.button-gen::after {


    content: "";
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;


}


.button-gen:hover::after {

    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;

}


@media only screen and (max-width: 600px) {

    .button-gen:link {

        font-size: 12px;
        padding: 8px 16px;

    }
}




/*ANIMATIONS*/

.moveleft {


    animation-name: moveleft;
    animation-duration: 3s;
    display: block;

}


@keyframes moveleft {

    0% {

        opacity: 0;
        transform: translateX(-150px);

    }


    100% {

        opacity: 1;
        transform: translate(0);
    }
}



/*FOOTER*/

.footer {

    margin-top: 250px;

}

/*EXTRA MEDIA Q*/

@media only screen and (max-width: 1000px) {
    .menu-container {
        width: 95vw;
    }

    .first-container {
        grid-template-columns: 30vw 30vw 30vw;
    }

    .routes-container {
        grid-template-columns: 30vw 30vw 30vw;
        width: 95vw;
    }
}

@media only screen and (max-width: 800px) {

    .routes-container {
        grid-template-columns: 80vw;

    }
}
